{% extends 'base.html.twig' %}

{% block title %}Règlement{% endblock %}

{% block body %}

{{ parent() }}
<div class="container">
    <h1>Règlement du site</h1>
</div>

{% endblock %}

{% block footer %}{% endblock%}